<div id="headwiggle" class="outer purpleborder" style="margin-top:1em">
   <div class="row">

        <div class="column" style="flex:50%">           
                <div id="commsmobile" align="center"><img alt="Pixel of Critter wiggling its head" src="/img/art/critterhead.gif"></div>
                <h2 class="price stroke">Head wiggle YCH icon</h2>
                <span style="font-size:smaller"><h2 class="price stroke">$15 - $25</h2></span>
    
                <div class="inner" id="commsdesktop">
                    <p align="center">A 50x50 (and 100x100 upscaled) animated headshot icon YCH.</p>
                    <hr class="dashed">
                    <ul style="text-align:left">
                        <li>Animation/pose will stay relatively consistent, but expression can be changed however you'd like</li>
                        <li>Anthros, creatures, and humans all okay</li>
                        <li>Can include extra animations like waving wings and tails, floating hats, etc. for an extra fee</li>
                    </ul>
                </div>

                <div class="inner" align="center" id="commsmobile">
                    <details>
                    <summary><img src="/img/blackarrow.gif" alt="Black arrow gif"> Full information</summary>
                        <hr class="dashed">
                    <p align="center">A 50x50 (and 100x100 upscaled) animated headshot icon YCH.</p>
                    <hr class="dashed">
                    <ul style="text-align:left">
                        <li>Animation/pose will stay relatively consistent, but expression can be changed however you'd like</li>
                        <li>Anthros, creatures, and humans all okay</li>
                        <li>Can include extra animations like waving wings and tails, floating hats, etc. for an extra fee</li>
                    </ul>
                    </details>
                </div>

                <div class="inner" id="commsmobile" align="center" style="margin-top:1em">
                    <details>
                        <summary><img src="/img/blackarrow.gif" alt="Black arrow gif"> More examples (click/tap to zoom)</summary>
                        <hr class="dashed">
                        
                        <div id="commsmobile" class="column">
                            <div id="flex" class="examples gallery-thumbs">                
                                {% for post in collections.headwiggle %}
                                <div class="comminfo headwiggle thumb">
                                   <a href="/img/art/{{ post.data.full }}" draggable="false" data-fancybox="mobile-headwiggle" data-caption="{{ post.data.title }}">
                                       {{ post.templateContent }}
                                   </a>
                               </div>               
                                {% endfor %}
                            </div>
                        </div>

                    </details>
                </div>
        </div>
        
        <div id="commsdesktop" class="column">
            <div id="flex" class="examples gallery-thumbs">                
                {% for post in collections.headwiggle %}
                <div class="comminfo headwiggle thumb">
                   <a href="/img/art/{{ post.data.full }}" draggable="false" data-fancybox="headwiggle" data-caption="{{ post.data.title }}">
                       {{ post.templateContent }}
                   </a>
               </div>               
                {% endfor %}
            </div>
        </div>

   </div>
</div>