<meta content="#40e4fd" data-react-helmet="true" name="theme-color" />
<meta content="animals' den ➜ {{ title }}" property="og:title" />
<meta content="{{ description }}" property="og:description"/>
<meta content="https://chimera.pet/" property="og:url" />
<meta content="/img/art/final.gif" property="og:image"/>