---
title: commission info
description: Chimera's commission information.
layout: layouts/base.njk
pixel: critter
css: cmyk
---


    <h1 align="center" style="margin-top:0">Chimera's Commission Info <img src="/img/critterhead.gif"></h1>


<div class="inner" style="border:1px dashed gray;border-radius:25px;text-align:center;margin-bottom:1em;padding:0">
    
    <p>All prices listed here are in USD. Prices and examples are subject to change. My commission status avaliable slots are always listed on the <a href="/art/#commstatus">homepage.</a></p>

    <p><img src="/img/warning2.gif" alt="Exclamation mark warning pixel"> By commissioning me in any form, you inherently agree to my <a href="/tos/">terms of service.</a> Please read them thoroughly beforehand. Thank you!</p>

    <p>Curious about anything else? Reach out to me at <a href="mailto:commissions@chimera.pet"><b>commissions@chimera.pet!</b></a></p>

    <p style="font-size:smaller">This page was last updated on: 5-20-2025.</p>
    
</div>
    <!-- info begins here -->
<h1 align="center"><img src="/img/cmyknew.gif" alt="New!"></h1>

       {% include 'comminfo/pagedolls.html' %}



<h1 align="center">Pixel art</h1>


   {% include 'comminfo/bwsprites.html' %}

   {% include 'comminfo/staticsprites.html' %}

   {% include 'comminfo/headwiggle.html' %}

   {% include 'comminfo/teeny.html' %}

   {% include 'comminfo/tcggbc.html' %}

<h1 align="center">Non-pixel art</h1>

   {% include 'comminfo/GBCbox.html' %}

   {% include 'comminfo/watercolorfullbody.html' %}

   <!-- info ends here -->

<script src="/js/commcarousels.js"></script>


