<ul>
  <li><img src="/img/cmyknew.gif" width="50px" alt="New!"> <b><a href="/info/#pagedoll">Large Pagedolls</a></b> are now avaliable to request at a discount for a limited time!</li>
  <li><b>5 Trading Card Game GBC pixels</b> (<b>0/5</b> filled) </li>
</ul>